<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>bddytask</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath*:spring/applicationContext-*.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>application</param-value>
  </context-param>
  <context-param>
    <param-name>ecsidePreferencesLocation</param-name>
    <param-value>/ecside.properties</param-value>
  </context-param>
  <listener>
    <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>com.systop.common.modules.security.user.service.listener.UserSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>
            org.acegisecurity.ui.session.HttpSessionEventPublisher
        </listener-class>
  </listener>
  <filter>
    <filter-name>hibernateFilter</filter-name>
    <filter-class>
			com.systop.core.dao.hibernate.OpenSessionInViewFilter
		</filter-class>
    <init-param>
      <param-name>excludeSuffixs</param-name>
      <param-value>js,css,jpg,gif,png</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>hibernateFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
      <param-name>targetClass</param-name>
      <param-value>org.acegisecurity.util.FilterChainProxy</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <url-pattern>/j_security_check</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <url-pattern>/j_acegi_logout</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ecsideExport</filter-name>
    <filter-class>org.ecside.filter.ECSideFilter</filter-class>
    <init-param>
      <param-name>useEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ecsideExport</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>poserver</servlet-name>
    <servlet-class>com.zhuozhengsoft.pageoffice.poserver.Server</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>poserver</servlet-name>
    <url-pattern>/poserver.zz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poserver</servlet-name>
    <url-pattern>/poserver.po</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poserver</servlet-name>
    <url-pattern>/poserver.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poserver</servlet-name>
    <url-pattern>/pageoffice.cab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poserver</servlet-name>
    <url-pattern>/popdf.cab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poserver</servlet-name>
    <url-pattern>/sealsetup.exe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poserver</servlet-name>
    <url-pattern>/posetup.exe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poserver</servlet-name>
    <url-pattern>/seal_logo.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminseal</servlet-name>
    <servlet-class>com.zhuozhengsoft.pageoffice.poserver.AdminSeal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminseal</servlet-name>
    <url-pattern>/adminseal.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminseal</servlet-name>
    <url-pattern>/loginseal.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminseal</servlet-name>
    <url-pattern>/sealimage.do</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>mht</extension>
    <mime-type>message/rfc822</mime-type>
  </mime-mapping>
  <context-param>
    <param-name>adminseal-password</param-name>
    <param-value>111111</param-value>
  </context-param>
  <context-param>
    <param-name>posealdb-driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>posealdb-url</param-name>
    <param-value>jdbc:mysql://localhost/jygl?characterEncoding=utf8</param-value>
  </context-param>
  <context-param>
    <param-name>posealdb-username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>posealdb-password</param-name>
    <param-value>root</param-value>
  </context-param>
  <filter>
    <filter-name>struts</filter-name>
    <filter-class>
			com.systop.core.filter.ExtendStrutsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jcaptcha</servlet-name>
    <servlet-class>com.systop.common.modules.security.jcaptcha.ImageCaptchaServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jcaptcha</servlet-name>
    <url-pattern>/captcha.jpg</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>45</session-timeout>
  </session-config>
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.ecside.org</taglib-uri>
      <taglib-location>
				/WEB-INF/tld/ecside.tld
			</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/systop/common</taglib-uri>
      <taglib-location>/WEB-INF/tld/common.tld</taglib-location>
    </taglib>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Forbidden</web-resource-name>
      <url-pattern>/streams/*</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
</web-app>