

/*  导航样式 */
body,div,table,td,p{margin:0;padding:0;}
body{font:12px/1.5 Arial;}
#nav .subnav,#nav .subnav p,#nav .subnav p span,#nav .subnav .arrow{background:url(../images/nav_bg_blue.png) no-repeat;}
#nav{position:relative;width:530px;background-position:0 -36px;border: 0px solid red;}
#nav table{height:50px;line-height:50px;padding-right:10px;overflow:hidden;background-position:right -72px;}
#nav table td{float:left;width:90px;margin-left:-2px;background-position:0 -108px;}
#nav table td a{font-size:14px;color:#fff;width:80px;display:block;text-align:center;text-decoration:none;margin:0 2px 0 4px; font-weight:bold;}
#nav table td a:hover{font-weight:700;background-position:-3px -144px;}
#nav .subnav{display:none;position:absolute;top:63px;width:auto!important;min-width:110px;height:27px;line-height:27px;white-space:nowrap;background-position:0 -180px; z-index:999999;}
#nav .subnav p{margin-left:10px;padding-right:10px;background-position:right -234px;}
#nav .subnav p span{display:block;color:#235e99;background-repeat:repeat-x;background-position:0 -207px;}
#nav .subnav p a{font-size:12px;display:inline;color:#000;text-decoration:none;margin:0 5px;padding:0 2px;}
#nav .subnav p a:hover{font-weight:400;background-image:none;border-bottom:1px solid; font-weight:bold; color:#FF6600;}
#nav .subnav .arrow{position:absolute;display:block;width:11px;height:5px;background-position:0 -261px;top:-4px;}


.onselect { background-image:url(../images/lanmu_bg6.gif); }
.unselect { background-image:url(../images/lanmu_bg5.gif);background-repeat: repeat-x;}
